<h6>ADMIN PAGE</h6>

<section>
    <div class="row">
        <h1>CID : 2836</h1>
    </div>
    <div class="row">
        <h1>NAME : Ameer</h1>
    </div>
</section>
<section class="text-white">
  <br>
  <h6 class="text-center"> ADD POST, PIN, DISTRICT,ZONE,TECHNICIAN</h6>

  <form name="datas_from_add_new_customer" action="/datas_from_add_new_customer" method="post">

    <div class="col-12 col-lg-6 mx-auto">
      <label for="">Name of Post office</label>
      <input class="form-control form-control-lg"
        style="text-align: center; text-decoration: black; font-weight: bold; font-size:100%" type="text" name="name_of_post_office"
        id="name_of_post_office" size="50px" >
    </div>
    <br>
    <div class="col-12 col-lg-6 mx-auto">
      <label for="">Enter the Pin code</label>
      <input class="form-control form-control-lg"
        style="text-align: center; text-decoration: black; font-weight: bold; font-size:100%" type="text" 
        name="pin" id="pin" size="50px" >
    </div>
    <br>
    <div class="col-12 col-lg-6 mx-auto">
      <label for="">Name of District</label>
      <input class="form-control form-control-lg"
        style="text-align: center; text-decoration: black; font-weight: bold; font-size:100%" type="text" 
        name="district" id="district" size="50px" >
    </div>
    <br>
    <div class="col-12 col-lg-6 mx-auto">
      <label for="">Mension the zone</label>
      <input class="form-control form-control-lg"
        style="text-align: center; text-decoration: black; font-weight: bold; font-size:100%" type="text" 
        name="zone" id="zone" size="50px" >
    </div>
    <br>
    
    <div class="col-2 mx-auto d-flex justify-content-center">
      <input class="btn btn-warning text-warning"
        style="font-weight: bold; width:200px; height:50px; font-size:75%; background: none;" type="submit"
        value="CREATE / UPDATE">
    </div>
    <br>

  </form>
</section>

