<div class="col-12 col-xl-6 p-2">
    <a href="/process/backup_full_db">
        <button type="button" class="btn btn-outline-warning" style=" width:250px; height:75px">
            <div> BACKUP FULL DB FROM SERVER TO THIS PC</div>
        </button>
    </a>
</div>

<div class="col-12 col-xl-6 p-2">
    <a href="/process/restore_full_db">
        <button type="button" class="btn btn-outline-warning" style=" width:250px; height:75px">
            <div> RESTORE DB FROM THIS PC</div>
        </button>
    </a>
</div>

<div class="col-12 col-xl-6 p-2">
    <a href="/office_data_entry/data_enty_pages">
        <button type="button" class="btn btn-outline-warning" style=" width:250px; height:75px">
            <div> OFFICE DATA ENTRY</div>
        </button>
    </a>
</div>