<form action="/process/db_file_from_front" method="post" enctype="multipart/form-data">
  <input type="file" name="uploadedFile" value="uploading_file" multiple>
  <input type="submit" value="upload file DB">
</form>